<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon first-box">
              <img src="./../../../../assets/dashboard/Rectangle 6.svg" alt="" />
              <div>
                <img src="./../../../../assets/dashboard/Group.svg" alt="" />
              </div>
            </div>
            <div class="">
              <p class="card-category"><b>2332</b></p>
              <h3 class="card-title">Pending orders</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon first-box">
              <img src="./../../../../assets/dashboard/Rectangle 6 (1).svg" alt="" />
              <div>
                <img src="./../../../../assets/dashboard/Group (1).svg" alt="" />
              </div>
            </div>
            <div class="">
              <p class="card-category"><b>4243</b></p>
              <h3 class="card-title">Sold</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon first-box">
              <img src="./../../../../assets/dashboard/Rectangle 6 (2).svg" alt="" />
              <div>
                <img src="./../../../../assets/dashboard/Group (2).svg" alt="" />
              </div>
            </div>
            <div class="">
              <p class="card-category"><b>23419</b></p>
              <h3 class="card-title">Canceled</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon first-box">
              <img src="./../../../../assets/dashboard/Rectangle 6 (3).svg" alt="" />
              <div>
                <img src="./../../../../assets/dashboard/Group (3).svg" alt="" />
              </div>
            </div>
            <div class="">
              <p class="card-category"><b>83457</b></p>
              <h3 class="card-title">New clients</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Top Selling Product</h4>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
              </thead>
              <tbody>
                <tr>
                  <td>CamMask</td>
                  <td>€128.50</td>
                  <td>€128.50</td>
                  <td>€1,965.81</td>
                </tr>
                <tr>
                  <td>CaTam</td>
                  <td>€128.50</td>
                  <td>€128.50</td>
                  <td>€1,965.81</td>
                </tr>
                <tr>
                  <td>Waxy</td>
                  <td>€128.50</td>
                  <td>€128.50</td>
                  <td>€1,965.81</td>
                </tr>
                <tr>
                  <td>WaxCa</td>
                  <td>€128.50</td>
                  <td>€128.50</td>
                  <td>€1,965.81</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="card rigth-section">
      <h2>Activities</h2>

      <p>Command #1236 delivrered 2 days ago</p>
      <p>Command #1236 delivrered 2 days ago</p>
      <p>Command #1236 delivrered 2 days ago</p>
      <p>Command #1236 delivrered 2 days ago</p>
      <p>Command #1236 delivrered 2 days ago</p>
      <p>Command #1236 delivrered 2 days ago</p>
      <p>Command #1236 delivrered 2 days ago</p>
    </div>
  </div>
</div>
