mat-card {
  border-top: 1px solid #29235c;
  border-radius: 0;
  mat-card-content {
    margin-left: 2%;
    white-space: normal;
    font-size: 1.15em;
  }
  button {
    font-size: larger;
  }
  font-family: 'Raleway' !important;
  width: 100%;
  overflow-x: hidden;
  font-size: larger;
}
