<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <div></div>
      <div class="carousel-caption d-none d-md-block">
        <h1 *ngIf="!isSeller" translate>nav.BecomeSeller</h1>
        <button *ngIf="!isSeller" (click)="toOpenDialog()" class="click-here">
          <span translate>nav.ClickHere</span>
        </button>
      </div>
    </div>
  </div>
  <!-- 
  <div class="carousel-inner">
    <div class="carousel-item" data-bs-interval="10000">
      <div></div>
      <div class="carousel-caption d-none d-md-block">
        <h1 translate>nav.BecomeSeller</h1>
        <button (click)="openDialog()" class="click-here">
          <span translate>nav.ClickHere</span>
        </button>
      </div>
    </div>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item" data-bs-interval="10000">
      <div></div>
      <div class="carousel-caption d-none d-md-block">
        <h1 translate>nav.BecomeSeller</h1>
        <button (click)="openDialog()" class="click-here">
          <span translate>nav.ClickHere</span>
        </button>
      </div>
    </div>
  </div> -->
</div>
<swal
  #effacerSwal
  title="Comfirmation "
  text="Are you sure ?  "
  type="question"
  confirmButtonText="Yes"
  cancelButtonText="No"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="onUpdateUser()"
></swal>
