<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1><span translate>nav.BecomeSeller</span></h1>
        <button routerLink="/register" class="click-here">
          <span translate>nav.ClickHere</span>
        </button>
        <img src="./../../assets/img/mask.png" class="d-block w-100" alt="..." />
      </div>
      <!-- <div class="carousel-item">
        <img src="./../../assets/img/header.jpg" class="d-block w-100" alt="..." />
      </div> -->
    </div>
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <div class="prev-icon">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </div>
      <span class="sr-only"><span translate>home.previous</span></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <div class="next-icon">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </div>
      <span class="sr-only"><span translate>home.next</span></span>
    </a> -->
  </div>
</header>
