<mat-dialog-content class="mat-typography">
  <div class="content">
    <div class="subtitle">
      <h3><span translate>registration.conditions.condition_use</span></h3>
      <br />
    </div>
    <div>
      <p><span translate>registration.conditions.text_use</span></p>
    </div>
    <div class="subtitle">
      <h3><span translate>registration.conditions.condition_general</span></h3>
      <br />
    </div>
    <div>
      <p><span translate>registration.conditions.text_general</span></p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close><span translate>registration.conditions.close</span></button>
</mat-dialog-actions>
