.breadcrumb- {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 0.25rem;
  background-color: none;
  font-size: 0.9rem;
  font-family: 'Raleway';
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 40px;

  a {
    color: #29235c;
  }
  .name {
    color: #f39200;
  }
}
