header {
  position: relative;
  margin-top: -275px;
  z-index: 0;
  .carousel-item {
    img {
      background-size: cover;
      height: 70vh;
    }
  }

  .text_content {
    color: #fff;
    position: absolute;
    z-index: 2;
    right: 12%;
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 50%;
    h1 {
      font-weight: bold;
      font-size: 2.5rem;
      letter-spacing: 2px;
    }

    p {
      font-size: 1.2rem;
      letter-spacing: 1px;
      line-height: 1.3;
    }

    a {
      font-size: 1.7rem;
      color: #fff;

      &:hover {
        color: #f39221;
        transition: 0.2s;
        text-decoration: none;
      }
    }

    .search {
      padding: 1.2rem;
      font-size: 1.5rem;
      background-color: #e6e2e29c;
      color: #fff;
      border: none;
      border-radius: 60px;
    }
  }
}
.next-icon,
.prev-icon {
  background-color: #ffffff8a;
  padding: 1rem 1.2rem;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  header {
    margin-top: -255px;

    img {
      background-size: cover;
      height: 50vh !important;
    }
  }
}
@media screen and (max-width: 1024px) {
  .text_content {
    h1,
    p,
    a {
      display: none;
    }

    .search {
      position: relative;
      left: -139px;
      width: 200px;
    }
  }
}

@media screen and (max-width: 1360px) {
  header {
    margin-top: -330px;
  }
}
