<div class="card" style="border: none">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Top Selling Product</h4>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
        <th *ngFor="let item of thItems">{{ item.title }}</th>
      </thead>
      <tbody>
        <tr>
          <td>CamMask</td>
          <td>€128.50</td>
          <td>€128.50</td>
          <td>€1,965.81</td>
        </tr>
        <tr>
          <td>CaTam</td>
          <td>€128.50</td>
          <td>€128.50</td>
          <td>€1,965.81</td>
        </tr>
        <tr>
          <td>Waxy</td>
          <td>€128.50</td>
          <td>€128.50</td>
          <td>€1,965.81</td>
        </tr>
        <tr>
          <td>WaxCa</td>
          <td>€128.50</td>
          <td>€128.50</td>
          <td>€1,965.81</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
