<app-nav-logo></app-nav-logo>
<app-buyer-navbar></app-buyer-navbar>
<app-floating-share-button></app-floating-share-button>
<app-breadcrumb [name]="title"></app-breadcrumb>

<div class="container">
  <h1 class="text-center">{{ title }}</h1>

  <div class="d-flex flex-column">
    <img class="img-fluid" src="./../../../../assets/laptop with shopping@2x.png" height="250" alt="" />

    <p class="mt-4 mb-4">
      But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will
      give you a complete account of the system, and expound the actual teachings of the great explorer of the truth,
      the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
      pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are
      extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it
      is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
      To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some
      advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no
      annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand, we
      denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure
      of the moment, so blinded by desire, that they cannot foresee the pain and trouble
    </p>

    <img class="img-fluid" src="./../../../../assets/hands-using-mobile-payments@2x.png" height="250" alt="" />
  </div>

  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 mb-3">
      <div>
        <h2>Fast</h2>

        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
        will give you a complete account of the system, and expound the actual teachings of the great explorer of the
        truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
        pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are
        extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because
        it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great
        pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain
        some
      </div>
    </div>

    <div class="col-sm-12 col-md-6 mb-3">
      <div>
        <h2>Reliable</h2>

        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
        will give you a complete account of the system, and expound the actual teachings of the great explorer of the
        truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
        pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are
        extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because
        it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great
        pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain
        some
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div>
        <h2>Secure</h2>

        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
        will give you a complete account of the system, and expound the actual teachings of the great explorer of the
        truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
        pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are
        extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because
        it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great
        pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain
        some
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div>
        <h2>No hidden fess</h2>

        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
        will give you a complete account of the system, and expound the actual teachings of the great explorer of the
        truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
        pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are
        extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because
        it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great
        pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain
        some
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
