footer {
  background-color: #f8f8f8;
  height: auto;
  margin-top: 3rem;
  color: #000;
  font-family: 'Raleway', sans-serif;

  .row {
    justify-content: center;
  }

  .col-lg-2 {
    text-align: left;
    border-right: 2px solid #fff;
    margin-bottom: 2rem;
  }

  .col-lg-2:nth-child(5) {
    border-right: none;
  }

  li {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
  }

  a {
    color: #000;
  }

  .shops-items,
  .service-contact,
  .customer-items,
  .legal-items {
    .item {
      // color: #29235c;
      font-size: 1rem;
      letter-spacing: 1px;
      margin: 0.4rem 0;
    }
  }

  input[type='email'] {
    background-color: #9e9e9e38;
  }

  .payment-items {
    display: flex;
    flex-wrap: wrap;
    .item {
      margin: 0.4rem 0.2rem;
      align-self: flex-start;
      img {
        width: 60px;
        height: 40px;
      }
    }
  }

  .delivery-items {
    text-align: center;
  }

  .item-social {
    display: flex;
    .item {
      margin: 0 0.4rem;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .about {
    cursor: pointer;
  }
}

.footer-bottom-container {
  background: #000;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}
