<footer class="container-fluid text-center p-5">
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col-md-4 col-lg-2">
      <h2 translate>Vaanah</h2>
      <div class="shops-items">
        <li class="item" *ngFor="let item of vaana">
          <a routerLink="{{ item.link }}">{{ item.title }}</a>
        </li>
      </div>
    </div>

    <div class="col-md-4 col-lg-2">
      <h2 translate>Mon compte</h2>
      <div class="shops-items">
        <li class="item" *ngFor="let item of compte">
          <a routerLink="{{ item.link }}">{{ item.title }}</a>
        </li>
      </div>
    </div>

    <div class="col-md-4 col-lg-2">
      <h2 translate>footer.shops</h2>
      <div class="shops-items">
        <li class="item" *ngFor="let store of storesTemp.slice(0, 5)">
          <span routerLink="/store-products/{{ store.id }}">{{ store.name }}</span>
        </li>
        <!-- <li *ngIf="stores.length > 5">
          <button mat-raised-button color="primary" class="categoryScroll" routerLink="/all-stores">
            <span translate>footer.moreShop</span>
          </button>
        </li> -->
      </div>
    </div>

    <div class="col-md-4 col-lg-2">
      <h2 translate>Newsletter</h2>
      <p>
        Rejiognez des milliers d'autre personnes <br />
        abonnez-vous a nos actualites
      </p>
      <div class="d-flex mb-4">
        <input type="email" class="form-control" id="email" placeholder="ENTER YOUR EMAIL" />
        <input type="button" class="btn btn-dark" value="OK" />
      </div>
      <div class="payment-items">
        <li class="item">
          <img src="./../../../assets/img/icons/Icon awesome-cc-visa.png" alt="" />
        </li>
        <li class="item">
          <img src="./../../../assets/img/icons/Icon awesome-cc-mastercard.png" alt="" />
        </li>
        <li class="item">
          <img src="./../../../assets/img/icons/Icon ionic-md-cash.png" alt="" />
        </li>

        <li class="item">
          <img src="./../../../assets/img/icons/Icon awesome-cc-paypal.png" alt="" />
        </li>
      </div>
    </div>

    <div class="col-md-4 col-lg-2">
      <h2 translate>A propos de Vaana</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum quo sit nobis eligendi assumenda quos
        temporibus maxime adipisci aliquam saepe aliquid obcaecati tenetur, magnam ex possimus non tempora, quas
        doloribus.
      </p>

      <div class="item-social mt-3">
        <li class="item">
          <img src="./../../../assets/img/icons/Whatsapp.png" alt="" />
        </li>
        <li class="item">
          <img src="./../../../assets/img/icons/Facebook.png" alt="" />
        </li>
        <li class="item">
          <img src="./../../../assets/img/icons/Instagram.png" alt="" />
        </li>
      </div>
    </div>
  </div>
  <!-- </div> -->
</footer>
<div class="container-fluid footer-bottom-container">
  <div class="footer-bottom container">
    <p>2021 Vaana Allrights reserved - Designed by Sawa</p>
    <p class="info">infos@vaanah.com 33 000 00 00</p>
  </div>
</div>
