.deals {
  background-color: #ffedd9;
  color: #29235c;
  // padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px;
  border-radius: 8px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

  h1 {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  img {
    width: 350px;
    height: 250px;
    margin-bottom: 1rem;
    // transform: rotate(330deg);
  }

  .reduction {
    text-align: right;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 2rem;
      font-weight: bolder;
      margin-bottom: 2rem;
    }
    p {
      width: 250px;
      position: relative;
      right: -245px;
      font-size: 1rem;
      margin-bottom: 2rem;
    }

    button {
      padding: 10px;
      border: none;
      border-radius: 6px;
      background: #29235c;
      color: #fff;
      font-size: 1rem;
      margin-top: 2rem;
    }
  }
}
