<app-navbar></app-navbar>
<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-3 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="./../../assets/img/anonym.jpg" alt="Admin" class="rounded-circle" width="150" />
              <div class="mt-3">
                <h4>{{ user['user'].username }}</h4>
                <p class="text-secondary mb-1">{{ user['user'].account_type }}</p>
                <p class="text-muted font-size-sm">
                  {{ user['user'].address.street }}, {{ user['user'].address.state }}
                </p>
                <button class="btn btn-danger" (click)="logOut()" translate>profile.logout_button</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0"><span translate>profile.username</span></h4>
              </div>
              <div class="col-sm-9 text-secondary">{{ user['user'].username }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0" translate>profile.email</h4>
              </div>
              <div class="col-sm-9 text-secondary">{{ user['user'].email }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0" translate>profile.type_user</h4>
              </div>
              <div class="col-sm-9 text-secondary">{{ user['user'].account_type }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0" translate>profile.sexe</h4>
              </div>
              <div class="col-sm-9 text-secondary">{{ user['user'].gender }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0" translate>profile.address</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ user['user'].address.street }}, {{ user['user'].address.state }},{{ user['user'].address.country }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info" routerLink="/update" translate>profile.edit_button</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 dash" *ngIf="user['user'].account_type === 'Seller'">
        <!-- <div class="row"> -->
        <button mat-raised-button color="primary" routerLink="/list-store">Store</button>
        <button mat-raised-button color="primary" routerLink="/updatestore/{{ store.id }}" *ngIf="has_store">
          Store
        </button>
        <!-- </div> -->
        <!-- <div class="row"> -->
        <button mat-raised-button color="primary" routerLink="/products">Products</button>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
