<app-navbar></app-navbar>
<app-header></app-header>

<div class="container">
  <h1 class="text-center my-5 deal">Deals</h1>
  <div class="row">
    <div class="col" *ngFor="let produit1 of produits1; let i = index">
      <div class="deals">
        <h1>{{ produit1.name }}</h1>
        <img src="{{ produit1.images[0].file }}" alt="" />
        <div class="reduction">
          <h1>Up to -75%</h1>
          <p>{{ produit1.description }}</p>
          <button routerLink="/product-detail/{{ produit1.id }}/{{ i }}/">lear more</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-center my-5">Shop Catalog</h1>

  <div class="divider mb-4 mt-3"></div>

  <app-product [products]="products"> </app-product>
</div>
