<div class="pb-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-0">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-toggler-icon mr-4 hamburger"></span>

    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- *ngFor="let item of menuItems" -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register"> COMPTE </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/"> PANIER </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products"> Products </a>
        </li>
      </ul>
    </div>

    <div class="social_link">
      <ul class="d-flex">
        <li class="nav-link"></li>

        <li class="nav-link">
          <a href="#"></a>
        </li>

        <li class="nav-link">
          <a href="#"></a>
        </li>
      </ul>
    </div>

    <div class="lang">
      <ul class="d-flex">
        <li><strong>EN</strong>/</li>
        <li>
          <strong>FR</strong>
        </li>
      </ul>
    </div>
  </nav>

  <div class="mx-auto logo">
    <img src="./../../assets/img/vanaa_logo.svg" alt="vanaa_logo" />
  </div>
</div>
