nav {
  background-image: url('../../assets/img/bg-navbar.svg') !important;
  background-color: #f39221 !important;
  height: 90px;
  z-index: 1;
  padding: 0 8rem;
  .navbar-nav li a {
    color: #fff;
    font-size: 1.1rem;
  }

  .social_link svg {
    color: #fff;
    margin-right: 1rem;
  }

  .lang {
    ul {
      list-style: none;
      padding-left: 10px;
      padding-right: 20px;
      color: #fff;
      cursor: pointer;
    }
  }
}

.logo {
  background-color: #fff;
  // width: 195px;
  // height: 170px;
  width: 275px;
  height: 275px;
  position: relative;
  top: -215px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  border: 1px solid gray;
  img {
    // width: 187px;
    // height: 200px;
    width: 270px;
    height: 360px;
  }
}
.nav-link {
  padding: 0.2rem !important;
}
.instagram {
  margin-top: 8px;
}

.navbar-nav-block {
  li {
    display: none;
    list-style: none;
  }
}

@media screen and (max-width: 980px) {
  nav {
    background-image: none !important;
    background-color: transparent !important;
    height: 70px;
    // box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
  }
  .navbar-nav-block {
    li {
      display: block;
      list-style: none;
    }
  }
  .logo {
    display: block;
    width: 150px;
    height: 160px;
    top: -170px;
    img {
      width: 140px;
      height: 245px;
    }
  }
  .social_link svg,
  .social_link img,
  .lang {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    padding: 0 !important;
  }
}
