.example-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #8d8d8d38;
  padding: 4rem;
  max-width: max-content;
  margin-top: -130px;

  button {
    padding: 0.4rem 0rem;
  }
}
.example-full-width {
  margin-top: 10px;
  width: 100%;
}
