<div class="example-card">
  <form [formGroup]="resetForm" (submit)="reset()" *ngIf="!isReset">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Email" formControlName="email" required />
      <mat-error *ngIf="resetForm.controls.email.touched && resetForm.controls.email.invalid">
        <span *ngIf="resetForm.controls.email.errors.required">This field is mandatory.</span>
        <span *ngIf="resetForm.controls.email.errors.pattern">This field is invalid.</span>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">SEND</button>
  </form>
</div>

<div class="example-card">
  <form [formGroup]="resetPassForm" (submit)="resetPass()" *ngIf="isReset">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" formControlName="password" />
      <mat-error *ngIf="resetPassForm.controls.password.touched && resetPassForm.controls.password.invalid">
        <mat-error *ngIf="resetPassForm.controls.password.touched && resetPassForm.controls.password.invalid">
          <span *ngIf="resetPassForm.controls.password.errors.required">This field is mandatory.</span>
          <span *ngIf="resetPassForm.controls.password.errors.minlength">Password must be at least 6 characters</span>
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput placeholder="Confirm your password" formControlName="password2" />
      <mat-error *ngIf="resetPassForm.controls.password2.touched && resetPassForm.controls.password2.invalid">
        <span *ngIf="resetPassForm.controls.password2.errors.required">This field is mandatory.</span>
        <span *ngIf="resetPassForm.controls.password2.errors.mustMatch">Passwords must match</span>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">SEND</button>
  </form>
</div>
