.example-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  margin-top: 105px;
  flex-wrap: nowrap;
}
.example-full-width {
  margin-top: 10px;
  width: 100%;
}
