<app-navbar></app-navbar>
<div class="example-card container">
  <form [formGroup]="resetPassForm" (submit)="resetPass()" *ngIf="isReset">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label><span translate>reset_password.password</span></mat-label>
      <input type="password" matInput placeholder="Password" formControlName="password" />
      <mat-error *ngIf="resetPassForm.controls.password.touched && resetPassForm.controls.password.invalid">
        <mat-error *ngIf="resetPassForm.controls.password.touched && resetPassForm.controls.password.invalid">
          <span *ngIf="resetPassForm.controls.password.errors.required" translate
            >registration.errors.required_error</span
          >
          <span *ngIf="resetPassForm.controls.password.errors.minlength" translate
            >registration.errors.password_error</span
          >
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label><span translate>reset_password.confirm_password</span></mat-label>
      <input type="password" matInput placeholder="Confirm your password" formControlName="password2" />
      <mat-error *ngIf="resetPassForm.controls.password2.touched && resetPassForm.controls.password2.invalid">
        <span *ngIf="resetPassForm.controls.password2.errors.required" translate
          >registration.errors.required_error</span
        >
        <span *ngIf="resetPassForm.controls.password2.errors.mustMatch" translate
          >registration.errors.match_password</span
        >
      </mat-error>
    </mat-form-field>
    <button [disabled]="resetPassForm.invalid" mat-raised-button color="primary" class="btn-block">
      <span translate>reset_password.validate</span>
    </button>
  </form>
</div>
