.navbar-brand {
  svg {
    background-color: #f39221;
    color: #fff;
    border-radius: 3px;
    margin-right: 0.7rem;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: '';
  }
}

.bi-person-fill {
  margin-top: 3px;
  color: #29235c;
}

#navbarTogglerDemo03 {
  a {
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
  }
}

.nav-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;

  div {
    svg {
      margin: 0 15px;
      color: #29235c;
    }
  }
}

svg {
  cursor: pointer;
}

.sub-menu {
  width: 40%;

  .category {
    border-right: 2px solid gray;
  }

  .category-item {
    color: #f39221;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin: 8px 30px 8px 30px;

    &:hover {
      color: #29235c;
    }
  }
}

.image-category {
  cursor: pointer;
  margin-left: 100px;
}

.badge {
  background: #f39200;
  border-radius: 50%;
  position: relative;
  top: -12px;
  left: -20px;
  color: #fff;
}
