.container {
  margin: 1rem auto;
  .row {
    display: flex;
    justify-content: space-evenly;

    .col-8 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #f0f0f0;
      padding: 1.3rem;
      flex-wrap: wrap;
      margin-right: -1rem;

      .img_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .thumbnail_img {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .social_network {
          line-height: 3;
          p {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            color: #b0b0b0;
            margin-left: 10px;
          }
        }

        .product_name {
          h2 {
            text-transform: uppercase;
            font-size: 1.7rem;
            font-weight: bold;
          }

          .desc_product {
            font-size: 18px;
            color: #afafaf;
          }

          .price {
            font-size: 2rem;
            color: #161b4b;
            font-weight: bold;
            line-height: 1;
          }

          .fake_price {
            @extend .price;
            font-size: 1.1rem;
            text-decoration: line-through rgb(255, 0, 0) 2px;
          }
        }

        .button {
          margin-bottom: 25px;
          button {
            width: 100%;
            background-color: #ef7c02;
            color: #fff;
            padding: 1rem 1.4rem;
            border: none;
            border-radius: 26px;
            font-size: 1.2rem;
          }
        }
      }
    }

    .col-3 {
      background-color: #f0f0f0;
      padding: 1.3rem;

      p {
        line-height: 0.5;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.7rem;
      }
    }
  }

  .text_content {
    margin-top: 2rem;
    margin-right: 23px;
    h1 {
      text-transform: uppercase;
      font-size: 1.7rem;
      font-weight: bold;
      text-align: center;
      margin: 3rem 0;
    }
  }

  .similar_products {
    h1 {
      text-transform: uppercase;
      font-size: 1.7rem;
      font-weight: bold;
      text-align: center;
      margin: 3rem 0;
    }
    .card {
      text-align: center;

      .card-body {
        padding: 0;

        img {
          width: 240px;
          margin-left: -1px;
        }
      }

      .card-footer {
        p:nth-child(1) {
          color: #161b4b;
          text-transform: lowercase;
          font-size: 15px;
        }

        p:nth-child(2) {
          font-size: 1.3rem;
          color: #161b4b;
          font-weight: bold;
          line-height: 1;
        }

        span {
          font-size: 0.9rem;
          color: #161b4b;
          font-weight: bold;
          font-size: 1.1rem;
          text-decoration: line-through rgb(255, 0, 0) 2px;
        }
      }
    }
  }
}

.banniere {
  background-color: #ef7c02;
  padding: 5rem 2rem;
  max-width: 1400px;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col {
    h1 {
      color: #fff;
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: 4px;
      margin-bottom: 2rem;
    }

    p {
      color: #fff;
      font-size: 1.1rem;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 2px;
    }
  }

  .col {
    img {
      width: 300px;
      height: 40vh;
    }

    img:nth-child(1) {
      border-radius: 50%;
      box-shadow: 0 10px 40px 20px rgba(0, 0, 0, 0.2);
      &:hover {
        transition: 3s;
        transform: translateX(-20px);
        content: url('../../../../assets/img/shoes.png');
      }
    }
  }

  .img {
    text-align: center;
  }
}

footer {
  background-color: #a09f9f;
  height: 40vh;
}

@media screen and (max-width: 1200px) {
  .content {
    height: auto !important;
    .button {
      margin-top: 1rem;
    }
  }

  .banniere {
    img {
      margin-top: 1.8rem;
    }
  }
}
