<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="img_content">
        <div class="img">
          <img src="../../../../assets/img/collier.png" width="300" alt="" />
        </div>
        <div class="thumbnail_img">
          <img src="../../../../assets/img/collier.png" width="80" alt="" />
          <img src="../../../../assets/img/collier.png" width="80" alt="" />
          <img src="../../../../assets/img/collier.png" width="80" alt="" />
        </div>
      </div>

      <div class="content">
        <div class="social_network">
          <img src="../../../../assets/img/Facebook.svg" width="40" alt="" />
          <img src="../../../../assets/img/TWIT.svg" width="40" alt="" />
          <img src="../../../../assets/img/linkedin.svg" width="40" alt="" />

          <p>partager le produit avec vos proches</p>
        </div>

        <div class="product_name">
          <h2>Nom du Produit</h2>
          <p class="desc_product">Lorem ipsum dolor sit amet dolor sit amet.</p>
          <p class="price">7 569 FCFA</p>
          <span class="fake_price">15000 FCFA</span>
        </div>

        <div class="button">
          <button routerLink="/checkout">commandez</button>
        </div>
      </div>
    </div>

    <div class="col-3">
      <p>description</p>
      <p>livraison</p>
    </div>
  </div>

  <div class="text_content">
    <h1>Description du Produit</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia debitis culpa beatae pariatur commodi iste? Et
      deleniti cupiditate delectus assumenda enim, dolorum soluta quasi temporibus quibusdam nobis ipsam deserunt unde?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia debitis culpa beatae pariatur commodi iste? Et
      deleniti cupiditate delectus assumenda enim, dolorum soluta quasi temporibus quibusdam nobis ipsam deserunt unde?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia debitis culpa beatae pariatur commodi iste? Et
      deleniti cupiditate delectus assumenda enim, dolorum soluta quasi temporibus quibusdam nobis ipsam deserunt unde?
    </p>
  </div>

  <div class="similar_products container-fluid">
    <h1>Autre Produits similaires</h1>

    <div class="row">
      <div class="col-lg-2 col-md-5 col-sm-6 mb-4 mr-1">
        <div class="card" style="width: 15rem">
          <div class="card-body">
            <img src="../../../../assets/img/Rectangle_35@2x.png" alt="" />
          </div>
          <div class="card-footer">
            <p>Lorem ipsum dolor sit amet.</p>
            <p class="prix">7 569 FCFA</p>
            <span>15 000 FCFA</span>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-5 col-sm-6 mb-4 mr-1">
        <div class="card" style="width: 15rem">
          <div class="card-body">
            <img src="../../../../assets/img/Rectangle_35@2x.png" alt="" />
          </div>
          <div class="card-footer">
            <p>Lorem ipsum dolor sit amet.</p>
            <p class="prix">7 569 FCFA</p>
            <span>15 000 FCFA</span>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-5 col-sm-6 mb-4 mr-1">
        <div class="card" style="width: 15rem">
          <div class="card-body">
            <img src="../../../../assets/img/Rectangle_35@2x.png" alt="" />
          </div>
          <div class="card-footer">
            <p>Lorem ipsum dolor sit amet.</p>
            <p class="prix">7 569 FCFA</p>
            <span>15 000 FCFA</span>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-5 col-sm-6 mb-4 mr-1">
        <div class="card" style="width: 15rem">
          <div class="card-body">
            <img src="../../../../assets/img/Rectangle_35@2x.png" alt="" />
          </div>
          <div class="card-footer">
            <p>Lorem ipsum dolor sit amet.</p>
            <p class="prix">7 569 FCFA</p>
            <span>15 000 FCFA</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-md-5 col-sm-6 mb-4 mr-1">
        <div class="card" style="width: 15rem">
          <div class="card-body">
            <img src="../../../../assets/img/Rectangle_35@2x.png" alt="" />
          </div>
          <div class="card-footer">
            <p>Lorem ipsum dolor sit amet.</p>
            <p class="prix">7 569 FCFA</p>
            <span>15 000 FCFA</span>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-5 col-sm-6 mb-4 mr-1">
        <div class="card" style="width: 15rem">
          <div class="card-body">
            <img src="../../../../assets/img/Rectangle_35@2x.png" alt="" />
          </div>
          <div class="card-footer">
            <p>Lorem ipsum dolor sit amet.</p>
            <p class="prix">7 569 FCFA</p>
            <span>15 000 FCFA</span>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-5 col-sm-6 mb-4 mr-1">
        <div class="card" style="width: 15rem">
          <div class="card-body">
            <img src="../../../../assets/img/Rectangle_35@2x.png" alt="" />
          </div>
          <div class="card-footer">
            <p>Lorem ipsum dolor sit amet.</p>
            <p class="prix">7 569 FCFA</p>
            <span>15 000 FCFA</span>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-5 col-sm-6 mb-4 mr-1">
        <div class="card" style="width: 15rem">
          <div class="card-body">
            <img src="../../../../assets/img/Rectangle_35@2x.png" alt="" />
          </div>
          <div class="card-footer">
            <p>Lorem ipsum dolor sit amet.</p>
            <p class="prix">7 569 FCFA</p>
            <span>15 000 FCFA</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container banniere">
  <div class="row">
    <div class="col offset-1">
      <h1>Banniere de pub</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit in eum itaque possimus. Veniam delectus
        numquam vitae! Quibusdam, pariatur,
      </p>
    </div>
    <div class="col offset-1 img">
      <img src="../../../../assets/img/Ellipse_9@2x.png" alt="" />
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="similar_products container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-5 col-sm-6 mb-4 mr-1">
        <div class="card" style="width: 15rem">
          <div class="card-body">
            <img src="../../../../assets/img/Rectangle_35@2x.png" alt="" />
          </div>
          <div class="card-footer">
            <p>Lorem ipsum dolor sit amet.</p>
            <p class="prix">7 569 FCFA</p>
            <span>15 000 FCFA</span>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-5 col-sm-6 mb-4 mr-1">
        <div class="card" style="width: 15rem">
          <div class="card-body">
            <img src="../../../../assets/img/Rectangle_35@2x.png" alt="" />
          </div>
          <div class="card-footer">
            <p>Lorem ipsum dolor sit amet.</p>
            <p class="prix">7 569 FCFA</p>
            <span>15 000 FCFA</span>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-5 col-sm-6 mb-4 mr-1">
        <div class="card" style="width: 15rem">
          <div class="card-body">
            <img src="../../../../assets/img/Rectangle_35@2x.png" alt="" />
          </div>
          <div class="card-footer">
            <p>Lorem ipsum dolor sit amet.</p>
            <p class="prix">7 569 FCFA</p>
            <span>15 000 FCFA</span>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-5 col-sm-6 mb-4 mr-1">
        <div class="card" style="width: 15rem">
          <div class="card-body">
            <img src="../../../../assets/img/Rectangle_35@2x.png" alt="" />
          </div>
          <div class="card-footer">
            <p>Lorem ipsum dolor sit amet.</p>
            <p class="prix">7 569 FCFA</p>
            <span>15 000 FCFA</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid"></footer>
