<div class="container">
  <div class="text-right">
    <button mat-raised-button color="primary" routerLink="/create-store">Create store</button>
  </div>
</div>

<div class="row">
  <div class="stores container col-sm-10 col-md-8 col-lg-12">
    <div style="width: 35rem" *ngFor="let store of stores">
      <div class="store">
        <div style="display: flex">
          <div class="card-body name" routerLink=""><b>Name:</b> {{ store.name }}</div>
          <div class="card-body adresse"><b>Adresse:</b> {{ store.store_address }}</div>
        </div>
        <div class="button">
          <button mat-raised-button color="accent" routerLink="/edit-stores/{{ store.id }}" class="mr-3">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteStore(store.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
