label {
  color: #fff;
}

.stores {
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;

  .store {
    display: flex;
    margin: 10px;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    background-color: #00000061;
    color: #fff;

    &:hover {
      transform: translateY(-5px);
      transition: 0.2s;
    }
  }

  .name {
    color: #ffc107;
    cursor: pointer;

    b {
      color: #fff;
    }
  }
}
