* {
  font-family: 'Raleway' !important;
}

h1 {
  color: #29235c;
  font-size: x-large;
  font-weight: bolder;
}

button {
  font-size: larger;
}
#order-menu {
  svg,
  img {
    width: 1em;
    margin-right: 0.3em;
    position: relative;
    bottom: 5px;
    color: #000;
  }
  background-color: #f8f8f8;
  padding: 2em;
  li {
    font-size: x-large;
    color: #adadad;
    border-top: 1px solid #29235c;
    padding: 0.5em 1em;
  }
}
