<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="createCategoriesForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-6">
            <label for="name"><span translate>category.name</span></label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
        </div>

        <div class="row">
          <!-- <div class="form-group col-6">
            <label for="slug">Slug</label>
            <input type="text" class="form-control" formControlName="slug" />
          </div> -->

          <div class="form-group col-6">
            <label for="description"><span translate>category.description</span></label>
            <input type="text" class="form-control" formControlName="description" />
          </div>
        </div>

        <div class="row">
          <div class="form-check mt-4 ml-3">
            <input type="checkbox" class="form-check-input" formControlName="is_active" />
            <!-- (change)="checkCheckBoxvalue($event)"
              #ch
              (click)="checkCheckBoxvalue(ch)" -->
            <label for="active" class="form-check-label"><span translate>category.is_active</span></label>
          </div>
        </div>

        <button mat-raised-button color="accent" class="btn-block">
          <span translate>category.create_button</span>
        </button>
      </form>
    </div>
  </div>
</div>
