<app-navbar></app-navbar>
<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <!-- <div class="text-left logo p-2 px-5"><img src="https://i.imgur.com/2zDU056.png" width="50" /></div> -->
        <div class="invoice p-5">
          <h3 translate>orders.order_details.order_confirm</h3>
          <span class="font-weight-bold d-block mt-4"><span translate>nav.hello</span>, Chris</span>
          <span translate>orders.order_details.order_intro</span>
          <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>
                    <div class="py-2">
                      <span class="d-block text-muted" translate>orders.order_list.order_date</span>
                      <span>12 Jan,2018</span>
                    </div>
                  </td>
                  <td>
                    <div class="py-2">
                      <span class="d-block text-muted" translate>orders.order_list.order_number</span>
                      <span>MT12332345</span>
                    </div>
                  </td>
                  <td>
                    <div class="py-2">
                      <span class="d-block text-muted" translate>orders.order_details.order_payment</span>
                      <span><img src="https://img.icons8.com/color/48/000000/mastercard.png" width="20" /></span>
                    </div>
                  </td>
                  <td>
                    <div class="py-2">
                      <span class="d-block text-muted" translate>orders.order_list.order_shipping</span>
                      <span>414 Advert Avenue, NY,USA</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="product border-bottom table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td width="20%"><img src="https://i.imgur.com/u11K1qd.jpg" width="90" /></td>
                  <td width="60%">
                    <span class="font-weight-bold">Men's Sports cap</span>
                    <div class="product-qty">
                      <span class="d-block" translate>orders.order_details.quantity <span>:1</span></span>
                      <span translate>orders.order_details.color <span>:Dark</span></span>
                    </div>
                  </td>
                  <td width="20%">
                    <div class="text-right"><span class="font-weight-bold">$67.50</span></div>
                  </td>
                </tr>
                <tr>
                  <td width="20%"><img src="https://i.imgur.com/SmBOua9.jpg" width="70" /></td>
                  <td width="60%">
                    <span class="font-weight-bold">Men's Collar T-shirt</span>
                    <div class="product-qty">
                      <span class="d-block" translate>orders.order_details.quantity <span>:1</span></span>
                      <span translate>orders.order_details.color <span>:Orange</span></span>
                    </div>
                  </td>
                  <td width="20%">
                    <div class="text-right"><span class="font-weight-bold">$77.50</span></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row d-flex justify-content-end">
            <div class="col-md-5">
              <table class="table table-borderless">
                <tbody class="totals">
                  <tr>
                    <td>
                      <div class="text-left">
                        <span class="text-muted" translate>orders.order_details.order_subtotal</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right"><span>$168.50</span></div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="text-left">
                        <span class="text-muted" translate>orders.order_details.order_ship_fee</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right"><span>$22</span></div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="text-left">
                        <span class="text-muted" translate>orders.order_details.order_tax_tee</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right"><span>$7.65</span></div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="text-left">
                        <span class="text-muted" translate>orders.order_details.order_discount</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right"><span class="text-success">$168.50</span></div>
                    </td>
                  </tr>
                  <tr class="border-top border-bottom">
                    <td>
                      <div class="text-left">
                        <span class="font-weight-bold" translate>orders.order_details.order_total</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right"><span class="font-weight-bold">$238.50</span></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <p translate>orders.order_details.order_conclusion</p>
          <p class="font-weight-bold mb-0" translate>orders.order_details.order_thanks</p>
          <span>Vaana Team</span>
        </div>
        <div class="d-flex justify-content-between footer p-3">
          <span translate
            >orders.order_details.order_footer <a href="#" translate>orders.order_details.order_footer_link</a></span
          >
          <span>12 June, 2020</span>
        </div>
      </div>
    </div>
  </div>
</div>
