<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="createProductForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-6">
            <label for="category"><span translate>product.category</span></label>
            <select class="form-control" formControlName="category" (change)="categoryEvent($event)">
              <option *ngFor="let category of categorys" value="{{ category.id }}">{{ category.name }}</option>
            </select>
          </div>

          <div class="form-group col-6">
            <label for="name"><span translate>product.name</span></label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-6">
            <label for="slug"><span translate>product.slug</span></label>
            <input type="text" class="form-control" formControlName="slug" />
          </div>

          <div class="form-group col-6">
            <label for="description"><span translate>product.description</span></label>
            <input type="text" class="form-control" formControlName="description" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-6">
            <label for="price"><span translate>product.price</span></label>
            <input type="number" class="form-control" formControlName="price" />
          </div>

          <div class="form-group col-6">
            <label for="quantity"><span translate>product.quantity</span></label>
            <input type="number" class="form-control" formControlName="quantity" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-6">
            <label for="store"><span translate>product.store</span></label>
            <select class="form-control" formControlName="store" (change)="storeEvent($event)">
              <option *ngFor="let store of stores" value="{{ store.id }}">{{ store.name }}</option>
            </select>
            <!-- <input type="text" class="form-control" formControlName="store" /> -->
          </div>

          <div class="form-check mt-4 ml-3">
            <input
              type="checkbox"
              checked
              class="form-check-input"
              (change)="checkCheckBoxvalue($event)"
              #ch
              (click)="checkCheckBoxvalue(ch)"
            />
            <label for="active" class="form-check-label"><span translate>product.is_active</span>e</label>
          </div>

          <div class="form-group col-4">
            <label for="img"><span translate>product.image</span></label
            ><br />
            <input type="file" name="img" id="img" formControlName="img" (change)="selectFiles($event)" />
          </div>
        </div>

        <button [disabled]="createProductForm.invalid" mat-raised-button color="accent" class="btn-block">
          <span translate>product.create_button</span>
        </button>
      </form>
    </div>
  </div>
</div>
