.container {
  margin-top: 100px;
  h1 {
    color: #29235c;
    font-size: 30px;
    font-weight: 600;
  }

  .no-products {
    text-align: center;
    padding-bottom: 3rem;
    .not-found {
      font-size: 2.5rem;
    }
  }
}
