<app-navbar></app-navbar>
<div class="center-content">
  <span class="successMessage" *ngIf="successMessage">{{ successMessage }}</span>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title color="primary" translate>update.title</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm" (submit)="update()">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label translate>registration.register.username</mat-label>
          <input type="email" matInput placeholder="Username" formControlName="username" required />
          <mat-error *ngIf="registerForm.controls.username.touched && registerForm.controls.username.invalid">
            <span *ngIf="registerForm.controls.username.errors.required" translate
              >registration.errors.required_error</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label translate>gender</mat-label>
          <select matNativeControl formControlName="gender" required>
            <option *ngFor="let genders of listGender" value="genders">
              {{ genders }}
            </option>
          </select>
          <mat-error *ngIf="registerForm.controls.gender.touched && registerForm.controls.gender.invalid">
            <span *ngIf="registerForm.controls.gender.errors.required" translate
              >registration.errors.required_error</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label translate>registration.register.country</mat-label>
          <input type="text" matInput placeholder="state" formControlName="state" required />
          <mat-error *ngIf="registerForm.controls.state.touched && registerForm.controls.state.invalid">
            <span *ngIf="registerForm.controls.state.errors.required">registration.errors.required_error</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label translate>registration.register.zipcode</mat-label>
          <input type="text" matInput placeholder="zipcode" formControlName="zipcode" required />
          <mat-error *ngIf="registerForm.controls.zipcode.touched && registerForm.controls.zipcode.invalid">
            <span *ngIf="registerForm.controls.zipcode.errors.required">registration.errors.required_error</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label translate>registration.register.city</mat-label>
          <input type="text" matInput placeholder="country" formControlName="country" required />
          <mat-error *ngIf="registerForm.controls.country.touched && registerForm.controls.country.invalid">
            <span *ngIf="registerForm.controls.country.errors.required">registration.errors.required_error</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label translate>registration.register.street</mat-label>
          <input type="text" matInput placeholder="street" formControlName="street" required />
          <mat-error *ngIf="registerForm.controls.street.touched && registerForm.controls.street.invalid">
            <span *ngIf="registerForm.controls.street.errors.required">registration.errors.required_error</span>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary"><span translate>update.validate</span></button>
      </form>
    </mat-card-content>
  </mat-card>
  <span class="errorMessage" *ngIf="errorMessage">{{ errorMessage }}</span>
</div>
