.container {
  color: #fff;
}

.button,
button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  margin: 4px;
  cursor: pointer;
  background-color: #f39221;
  color: white;
  border: none;
}

.button:hover,
button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.add_product {
  // position: absolute;

  // top: -510px;z
}

.input-group-append {
  position: relative;
  right: -87%;
  top: -42px;
}
