.container {
  color: #fff;
}

.button:hover,
button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.input-group-append {
  position: relative;
  right: -87%;
  top: -42px;
}
