<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/" style="cursor: pointer">Vaanah</span>
    <span class="exemple-spacer"></span>
    <!-- <mat-icon class="exemple-icon">favorite</mat-icon> -->
    <button mat-raised-button color="warn" (click)="logOut()" *ngIf="isLoggedIn()">Logout</button>
    <button mat-raised-button color="accent" (click)="logIn()" *ngIf="!isLoggedIn()">LogIn</button>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <app-navbar></app-navbar> -->

<div class="exemple-button mb-5">
  <button mat-raised-button color="primary" (click)="goRegister()">Primary</button>
  <button mat-raised-button color="accent" (click)="goLogin()">Accent</button>
  <button mat-raised-button color="warn">Warning</button>
  <button mat-raised-button routerLink="/products">Products</button>
  <button mat-raised-button color="primary" routerLink="/list-store">Store</button>
  <div class="dropdown">
    <button mat-raised-button id="dropdownMenuButton" data-toggle="dropdown">Categories</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="/categories">Categories</a>
      <a class="dropdown-item" routerLink="/create-categories">Create categories</a>
      <!-- <a class="dropdown-item" href="#">Something else here</a> -->
    </div>
  </div>
  <!-- <button class="float-right"  mat-raised-button color="primary">
      Create categories
    </button> -->
</div>

<router-outlet></router-outlet>
