/* #theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;

  margin: 10px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  cursor: pointer;
}

.theme-dot:hover {
  border-width: 5px;
}

#light-mode {
  background-color: #fff;
  border: 2px solid #24292e;
  transition: 0.5s;
}
#light-mode:hover {
  transform: scale3d(1.3, 1.3, 1.3);
  transition: 0.5s;
}

#blue-mode {
  background-color: #192734;
  border: 2px solid #fff;
  transition: 0.5s;
}
#blue-mode:hover {
  transform: scale3d(1.3, 1.3, 1.3);
  transition: 0.5s;
}

#green-mode {
  background-color: #78866b;
  border: 2px solid #fff;
  transition: 0.5s;
}
#green-mode:hover {
  transform: scale3d(1.3, 1.3, 1.3);
  transition: 0.5s;
}

#purple-mode {
  background-color: #7e4c74;
  border: 2px solid #fff;
  transition: 0.5s;
}
#purple-mode:hover {
  transform: scale3d(1.2, 1.2, 1.2);
  transition: 0.5s;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
} */
