<app-nav-logo></app-nav-logo>
<!-- <app-navbar></app-navbar> -->
<!-- <app-header></app-header> -->
<app-buyer-navbar></app-buyer-navbar>
<app-headers></app-headers>
<!-- <search-bar (login)="searchProducts($event)"></search-bar> -->

<app-regions></app-regions>

<app-best-deals></app-best-deals>

<div class="main" *ngIf="products.length === 0">
  <!-- <span class="not-found" translate>home.result</span> -->
</div>
<div class="subtitle" *ngIf="products.length > 0"><h3 translate>home.best_sale</h3></div>
<div class="main">
  <div class="product" *ngFor="let product of bestSelling; let i = index">
    <img src="{{ product.images[0].file }}" alt="" />
    <div class="overview1" (click)="imageClicked(product.id, i)">
      <!-- <h3>overview:</h3> -->
      <div class="product-icon">
        <div class="icon-element">
          <img
            class="icon-heart"
            src="./../../assets/img/icons/Contour.svg"
            alt="user_icon"
            (click)="AddWishlist(product.id)"
          />
          <span translate>home.aimer</span>
        </div>
        <div class="icon-element">
          <img class="icon" src="./../../assets/img/icons/panier.svg" alt="user_icon" (click)="addToCart(product.id)" />
          <span translate>home.ajouter</span>
        </div>
      </div>
      <span class="price">{{ formatPrice(product.price | currency: 'EUR') }}</span>
    </div>
    <a routerLink="/product-detail/{{ product.id }}/{{ i }}/">
      <div class="product-info">
        <h3 *ngIf="product.name.length > 17">{{ product.name.slice(0, 20) }}...</h3>
        <h3 *ngIf="product.name.length <= 17">{{ product.name }}</h3>
      </div></a
    >
  </div>
</div>
<div class="advertise" *ngIf="products.length > 0">
  <div class="title">
    <h3>
      Lorem ips <br />
      dolor sit amet
    </h3>
    <h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore<br />
      magna aliqua. Ut enim ad minim veniam, quis nostrud
    </h6>
    <button mat-button class="advertiseBtn"><span translate>home.plus </span></button>
  </div>
  <div class="imgEl">
    <img src="./../../assets/img/clothes.png" alt="advertise" />
  </div>
</div>
<div class="subtitle" *ngIf="goodStuff.length > 0"><h3 translate>home.good_deals</h3></div>
<div class="main">
  <div class="product" *ngFor="let product of goodStuff; let i = index">
    <img src="{{ product.images[0].file }}" alt="" />
    <div class="overview1" (click)="imageClicked(product.id, i)">
      <!-- <h3>overview:</h3> -->
      <div class="product-icon">
        <div class="icon-element">
          <img
            class="icon-heart"
            src="./../../assets/img/icons/Contour.svg"
            alt="user_icon"
            (click)="AddWishlist(product.id)"
          />
          <span translate>home.aimer</span>
        </div>
        <div class="icon-element">
          <img class="icon" src="./../../assets/img/icons/panier.svg" alt="user_icon" (click)="addToCart(product.id)" />
          <span translate>home.ajouter</span>
        </div>
      </div>
      <span class="price">{{ formatPrice(product.price | currency: 'EUR') }}</span>
    </div>
    <a routerLink="/product-detail/{{ product.id }}/{{ i }}/">
      <div class="product-info">
        <h3 *ngIf="product.name.length > 17">{{ product.name.slice(0, 20) }}...</h3>
        <h3 *ngIf="product.name.length <= 17">{{ product.name }}</h3>
      </div></a
    >
  </div>
</div>
