.text-regions {
  color: #29235c;
  h2 {
    font-weight: bold;
  }
}

.card {
  background-color: #9e9e9e12;
  border: none;
  cursor: pointer;
}

.pagination {
  .carousel-control-prev {
    left: -185px;
    opacity: 1;
  }

  .carousel-control-next {
    right: -185px;
    opacity: 1;
  }
}

hr {
  border-top: 2px solid #80808038;
}
