<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-5 mb-5 text-regions">
        <h2><span translate>region.title</span></h2>
        <h3 class="mb-3"><span translate>region.description</span></h3>
      </div>

      <div class="col-12">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-3 mb-3">
                  <div class="card" (click)="getStoreRegion('Afrique')">
                    <img class="img-fluid" alt="100%x280" src="./../../../../assets/img/Dev Assets/Africa.png" />
                    <div class="card-body">
                      <h2 class="card-title text-center"><span translate>region.africa</span></h2>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card" (click)="getStoreRegion('Amerique')">
                    <img class="img-fluid" alt="100%x280" src="./../../../../assets/img/Dev Assets/America.png" />
                    <div class="card-body">
                      <h2 class="card-title text-center"><span translate>region.america</span></h2>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card" (click)="getStoreRegion('Asie')">
                    <img class="img-fluid" alt="100%x280" src="./../../../../assets/img/Dev Assets/Asia.png" />
                    <div class="card-body">
                      <h2 class="card-title text-center"><span translate>region.asia</span></h2>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card" (click)="getStoreRegion('Europe')">
                    <img class="img-fluid" alt="100%x280" src="./../../../../assets/img/Dev Assets/Europe.png" />
                    <div class="card-body">
                      <h2 class="card-title text-center"><span translate>region.europe</span></h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="row">
                <div class="col-md-3 mb-3">
                  <div class="card" (click)="getStoreRegion('Afrique')">
                    <img class="img-fluid" alt="100%x280" src="./../../../../assets/img/Dev Assets/Africa.png" />
                    <div class="card-body">
                      <h2 class="card-title text-center"><span translate>region.africa</span></h2>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card" (click)="getStoreRegion('Amerique')">
                    <img class="img-fluid" alt="100%x280" src="./../../../../assets/img/Dev Assets/America.png" />
                    <div class="card-body">
                      <h2 class="card-title text-center"><span translate>region.america</span></h2>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card" (click)="getStoreRegion('Asie')">
                    <img class="img-fluid" alt="100%x280" src="./../../../../assets/img/Dev Assets/Asia.png" />
                    <div class="card-body">
                      <h2 class="card-title text-center"><span translate>region.asia</span></h2>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card" (click)="getStoreRegion('Europe')">
                    <img class="img-fluid" alt="100%x280" src="./../../../../assets/img/Dev Assets/Europe.png" />
                    <div class="card-body">
                      <h2 class="card-title text-center"><span translate>region.europe</span></h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pagination">
            <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
              <div class="prev-icon">
                <img src="./../../../../assets/img/Dev Assets/Pagination (1).png" width="40" height="40" alt="" />
              </div>
              <span class="sr-only"><span translate>home.previous</span></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
              <div class="next-icon">
                <img src="./../../../../assets/img/Dev Assets/Pagination (2).png" width="40" height="40" alt="" />
              </div>
              <span class="sr-only"><span translate>home.next</span></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-4" />
  </div>
</section>
