<div class="center-content">
  <span class="successMessage" *ngIf="successMessage">{{ successMessage }}</span>
  <mat-card class="example-card">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="connexion">
          <form [formGroup]="loginForm" (submit)="login()">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" formControlName="email" required />
              <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
                <span *ngIf="loginForm.controls.email.errors.required">This field is mandatory.</span>
                <span *ngIf="loginForm.controls.email.errors.pattern">This field is invalid.</span>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" formControlName="password" />
              <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                  <span *ngIf="loginForm.controls.password.errors.required">This field is mandatory.</span>
                  <span *ngIf="loginForm.controls.password.errors.minlength"
                    >Password must be at least 6 characters</span
                  >
                </mat-error>
              </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary">SE CONNECTER</button>
          </form>
        </mat-tab>
        /*registration*/
        <mat-tab class="inscription" label="inscription">
          <form [formGroup]="registerForm" (submit)="register()">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input type="email" matInput placeholder="Username" formControlName="username" required />
              <mat-error *ngIf="registerForm.controls.username.touched && registerForm.controls.username.invalid">
                <span *ngIf="registerForm.controls.username.errors.required">This field is mandatory.</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" formControlName="email" required />
              <mat-error *ngIf="registerForm.controls.email.touched && registerForm.controls.email.invalid">
                <span *ngIf="registerForm.controls.email.errors.required">This field is mandatory.</span>
                <span *ngIf="registerForm.controls.email.errors.pattern">This field is invalid.</span>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" formControlName="password" />
              <mat-error *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid">
                <mat-error *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid">
                  <span *ngIf="registerForm.controls.password.errors.required">This field is mandatory.</span>
                  <span *ngIf="registerForm.controls.password.errors.minlength"
                    >Password must be at least 6 characters</span
                  >
                </mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input type="password" matInput placeholder="Confirm your password" formControlName="password2" />
              <mat-error *ngIf="registerForm.controls.password2.touched && registerForm.controls.password2.invalid">
                <span *ngIf="registerForm.controls.password2.errors.required">This field is mandatory.</span>
                <span *ngIf="registerForm.controls.password2.errors.mustMatch">Passwords must match</span>
              </mat-error>
            </mat-form-field>
            <mat-checkbox
              formControlName="checked"
              class="example-full-width"
              id="example-checkbox"
              class="example-margin"
              [(indeterminate)]="indeterminate"
              [labelPosition]="labelPosition"
              [disabled]="disabled"
            >
              <div class="conditions">J'accepte les conditions d'utilisations</div>
            </mat-checkbox>
            <button mat-raised-button color="primary">S'INSCRIRE</button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
  <span class="errorMessage" *ngIf="errorMessage">{{ errorMessage }}</span>
</div>
