<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-md-6 col-lg-8">
      <h1 class="mb-5"><span translate>nav.category</span></h1>
      <p class="mb-5">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, eveniet. Sint voluptatum eos, placeat,<br />
        illo nostrum quos iusto autem totam facilis aut itaque molestiae cumque veritatis quaerat,
      </p>
      <div class="reduction"><span translate>category.reduction</span></div>
    </div>

    <div class="col-sm-10 col-md-6 col-lg-4">
      <img src="../../../assets/img/header2.png" alt="" />
    </div>
  </div>
</div>

<!-- <div class="container d-flex mt-5">
  <div class="col mr-4 mb-2"><span translate>nav.category</span></div>
  <div class="col mr-2 mb-2">Afrique</div>
  <div class="col mr-2 mb-2">Europe</div>
  <div class="col mr-2 mb-2">Asie</div>
</div> -->

<!-- <div class="container grid mt-5">
  <div class="section wrapper">
    <div class="box span_1_of_4" *ngFor="let product of products; let i = index">
      <img src="{{ product.images[0].file }}" alt="" width="250" />
      <div class="box-footer">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p class="price">&euro;6</p>
      </div>
    </div>
  </div>
</div> -->

<section class="diff-ctg mt-5">
  <div class="container">
    <div class="content text-center">
      <h1>
        <b><span translate>category.diff_categorie</span></b>
      </h1>
      <p class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, dicta eaque necessitatibus, nemo nulla,
        aspernatur sit suscipit cum quas rem doloribus! Mollitia quibusdam necessitatibus sapiente quae, quos nobis
        beatae obcaecati.
      </p>
    </div>

    <div class="ctg-img mt-5">
      <div class="img-1" *ngIf="category1">
        <img src="../../../assets/img/Products/10.png" alt="" />
        <h2 class="ctg-name">{{ category1 }}</h2>
      </div>
      <div class="img-2" *ngIf="category2">
        <img src="../../../assets/img/Products/11.png" alt="" />
        <h2 class="ctg-name">{{ category2 }}</h2>
      </div>
      <div class="img-3" *ngIf="category3">
        <img src="../../../assets/img/Products/12.png" alt="" />
        <h2 class="ctg-name">{{ category3 }}</h2>
      </div>
    </div>
  </div>
</section>
<hr />

<section class="autres-ctg mt-5">
  <div class="container text-center">
    <h1>
      <b><span translate>category.autre_categorie</span></b>
    </h1>
    <div class="divider mb-4 mt-3"></div>

    <div class="all-ctg">
      <div class="section wrapper">
        <div class="box span_1_of_4" *ngFor="let category of categories; let i = index">
          <img src="../../../assets/img/Products/{{ i }}.png" alt="" width="250" />
          <h2>{{ category.name }}</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="container-fluid mt-5 banniere">
  <div class="row">
    <div class="col offset-1">
      <h1><span translate>product_detail.banniere</span></h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit in eum itaque possimus. Veniam delectus
        numquam vitae! Quibusdam, pariatur,
      </p>
    </div>
    <div class="col offset-1 img">
      <img src="../../../../assets/img/Ellipse_9@2x.png" alt="" />
    </div>
  </div>
</div> -->
