<div class="social-media">
  <div class="social-content">
    <div class="social-items">
      <a href="https://www.facebook.com" target="_blank">
        <img src="./../../../assets/social-icons/Icon awesome-phone-square.svg" width="30" height="30" alt="" />
      </a>
    </div>
    <div class="social-items">
      <a href="https://www.whatsapp.com" target="_blank">
        <img src="./../../../assets/social-icons/Icon awesome-whatsapp.svg" width="30" height="30" alt="" />
      </a>
    </div>
    <div class="social-items">
      <a href="https://www.facebook.com" target="_blank">
        <img src="./../../../assets/social-icons/Icon material-email.svg" width="30" height="30" alt="" />
      </a>
    </div>
    <div class="social-items">
      <a href="https://www.facebook.com" target="_blank">
        <img src="./../../../assets/social-icons/Icon material-chat_bubble_outline.svg" width="30" height="30" alt="" />
      </a>
    </div>
  </div>
</div>
