<app-nav-logo></app-nav-logo>
<app-buyer-navbar></app-buyer-navbar>
<app-floating-share-button></app-floating-share-button>
<div class="example-card container" style="margin-top: 100px">
  <form [formGroup]="resetForm" (submit)="reset()" *ngIf="!isReset">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label><span translate>reset_password.email</span></mat-label>
      <input type="email" matInput placeholder="Email" formControlName="email" required />
      <mat-error *ngIf="resetForm.controls.email.touched && resetForm.controls.email.invalid">
        <span *ngIf="resetForm.controls.email.errors.required" translate>registration.errors.required_error</span>
        <span *ngIf="resetForm.controls.email.errors.pattern">translate>registration.errors.invalid_error</span>
      </mat-error>
    </mat-form-field>
    <button [disabled]="resetForm.invalid" mat-raised-button color="primary" class="btn-block">
      <span translate>reset_password.send_button</span>
    </button>
  </form>
</div>
<app-footer></app-footer>
