.container {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: O;
}

.billing {
  margin-left: -5%;
  margin-right: 10px;
}

.summary {
  display: flex;
  flex-direction: column;
  color: white;
  width: 18vw;
}

.total {
  background-color: #f8f8f8;
  padding: 20px;
  box-shadow: 4px 4px 2px rgb(0 0 0 / 10%);
  margin-bottom: 25px;
  border-radius: 15px;
}

.total .title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Raleway';
  color: #29235c;
  padding-bottom: 20px;
  text-align: center;
}

.total .subtotal {
  font-size: 1rem;
  padding: 5px;
  margin-bottom: 20px;
  .devic {
    color: #676766;
  }
}

.subtotal .subtotal2 {
  font-size: 1rem;
  color: #29235c;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.subtotal .subtotal1,
.taxe {
  font-size: 1rem;
  color: #29235c;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.checkouBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.checkouBtn button,
.payBtn {
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  border: none;
  background-color: #f39200;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 20px;
}

.text-order {
  color: #676766;
  font-weight: normal;
  text-align: center;
  margin-top: 10px;
}

.row1 {
  margin-top: 10px;
  mat-form-field input {
    width: 28opx;
  }
}

.shipping-adress {
  display: flex;
  flex-wrap: wrap;
}

.article-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.article,
.product {
  width: 50%;
}

.qte-adress {
  display: flex;
}

.order-items-forms {
  width: 50%;
}

.qte,
.incdecqte {
  width: 25%;
}

.shipadress,
.selectadressship {
  width: 25%;
}

.product {
  display: flex;
}

.img-product {
  padding-right: 10px;
  margin-bottom: 20px;
}

.price {
  color: #b82704;
}

.info {
  h4,
  p,
  a {
    margin-bottom: 0 !important;
  }
}

.productrow {
  display: flex;
  justify-content: space-between;
}

.credit-card,
.bank {
  display: flex;
  justify-content: space-between;
}

.shipping-adress {
  display: flex;
  flex-wrap: wrap;

  .address {
    padding-bottom: 20px;
    padding-left: 15px;
    padding-top: 10px;

    ul {
      list-style: none;
    }

    .deliver-to {
      margin-bottom: 10px;
      margin-right: 18px;

      .btn-deliver-to {
        background-color: #f39200;
        padding: 5px 21px;
        border-radius: 5px;
        color: #fff;
        transition: 200ms;
        font-family: 'Raleway' !important;
        cursor: pointer;
        border: none;

        &:hover {
          text-decoration: none;
          background-color: #ff9c07;
        }
      }
    }

    .edit-delete {
      display: flex;
      padding-bottom: 10px;

      .edit {
        margin-right: 5px;

        .btn-edit {
          background-color: #e2e3e5;
          padding: 4px 28px;
          border-radius: 5px;
          color: #383d41;
          transition: 200ms;
          font-family: 'Raleway';
          cursor: pointer;

          &:hover {
            text-decoration: none;
            background-color: #d6d8d9;
          }
        }
      }

      .delete {
        .btn-delete {
          background-color: #e2e3e5;
          padding: 4px 28px;
          border-radius: 5px;
          color: #383d41;
          transition: 200ms;
          font-family: 'Raleway';
          cursor: pointer;

          &:hover {
            text-decoration: none;
            background-color: #d6d8d9;
          }
        }
      }
    }
  }
}

.prev_step {
  border: none;
  background: none;
  color: #f39200;

  &:hover {
    text-decoration: underline;
  }
}

.shipmethod,
.selectshipmethod {
  width: 50%;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
  @media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
    }
    .summary {
      width: 100%;
    }
  }
}
