label {
  font-size: large;
}

input {
  background: #f5f5f5;
  border-radius: 5px;
  border: none;
  height: 50px;

  &:focus {
    box-shadow: none;
    border: none;
    background: #f5f5f5;
  }
}
